
@{
    ViewBag.Title = "Employee Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {
        $('#loading').fadeOut();
    })

    function EmployeeSubmit() {

        if ($('#txt_fname').val() === "") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Enter Employee Name. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#dd_gender').val() === "0") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select Gender. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_dob').val() === "") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select DOB. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_mobile').val() === "") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Enter Mobile Number. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#dd_role').val() === 0) {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select Role. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_email').val() === "") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Enter Email. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_area').val() === "0") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select Area. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_zone').val() === "0") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select Zone. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#dd_state').val() === "0") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Select State. </font>')
            $('#msg').fadeOut(5000);
            return;
        }
        if ($('#txt_userName').val() === "" || $('#txt_password').val() === "") {
            $('#msg').fadeIn();
            $('#msg').html('<font color="Red">!! Please Enter UserName , Password . </font>')
            $('#msg').fadeOut(5000);
            return;
        }

        var Values = {};
        Values.fullName = $('#txt_fname').val();
        Values.gender = $('#dd_gender').val();
        Values.dob = $('#txt_dob').val();
        Values.mobile = $('#txt_mobile').val();
        Values.role = $('#dd_role').val();
        Values.email = $('#txt_email').val();
        Values.address = $('#txt_address').val();
        Values.area = $('#txt_area').val();
        Values.Zone = $('#txt_zone').val();
        Values.state = $('#dd_state').val();
        Values.Security = $('#txt_security').val();
        Values.userName = $('#txt_userName').val();
        Values.password = $('#txt_password').val();

        if (Values.userName.length != 0) {
            $('#msg').val('');
            $.ajax({
                url: "/Employee/EmployeeRegistrations",
                method: "Post",
                data: { emp: Values },
                success: function (Result) {
                    if (Result > 0) {
                        $('#msg').fadeIn();
                        $('#msg').html("<div class='alert alert-success alert-dismissible'><a href = '#' class= 'close' data - dismiss='alert' aria - label='close' ></a><strong>Success!</strong> Record Sucessfully Saved.</div>");
                        $('#msg').fadeOut(5000);
                        $('#msg').fadeOut("Slow");

                        //alert("Employee Registered Successfully..");
                        location.reload();

                    }
                    else if (Result == -1) {
                        //  alert("User Name Is Already Exists Please Try Again.");
                        $('#msg').fadeIn();
                        $('#msg').html("<div class='alert alert-danger alert-dismissible'><a href = '#' class= 'close' data - dismiss='alert' aria - label='close' ></a><strong>Sorry!</strong> Record Is Already Exists Please Try Again.</div>");
                        $('#msg').fadeOut(5000);
                        $('#msg').fadeOut("Slow");
                    }
                    else {
                        alert("Oops....Something Gone Wrong ! Please Try Again");
                    }
                }
            });
        }
        else {
            //$('#msg').html("<span style='background-color:red;color:white'>Please Enter User Name.</span>");
            alert("Please Enter User Name.");
        }
    }

    function checkUserName() {
        if ($('#txt_userName').val().length != 0) {
            $('#msg').val('');
            $.ajax({
                url: "/Employee/checkuserName",
                method: "Post",
                data: { username: $('#txt_userName').val() },
                success: function (Result) {
                    if (Result == true) {
                        // $('#lbl_userMSG').val('User Name Alredy Exists');
                        //   alert("User Name Alredy Exists");
                        $("#txt_userName").val('');
                        $("#lbl_userMSG").html("<span style='color:red'>Allready Exists</span>");
                    }
                    else {
                        //   $('#lbl_userMSG').val('User Name Available');
                        $("#lbl_userMSG").html("<span style='color:Green'>User Name Available</span>");
                    }
                }
            })
        }
    }

    function bindzone() {
        var stateid = $('#dd_state').val();

        $.ajax({
            url: "/Common/GetZones/",
            method: "Get",
            data: { selectedValue: stateid },
            success: function (x) {
                if (x.length > 0) {
                    $('#txt_zone').empty();
                    for (var i = 0; i < x.length; i++) {
                        var opt = '<option value=' + x[i]["Value"] + '>' + x[i]["Text"] + '</option>'
                        $("#txt_zone").append(opt);
                    }
                }
                else {
                    return alert("Select State ");
                }
            }
        })

    }

    function bindarea() {
        var Zoneid = $('#txt_zone').val();
        $.ajax({
            url: "/Common/GetArea/",
            method: "Get",
            data: { selectedValue: Zoneid },
            success: function (x) {
                if (x.length > 0) {
                    $('#txt_area').empty();
                    for (var i = 0; i < x.length; i++) {
                        var opt = '<option value=' + x[i]["Value"] + '>' + x[i]["Text"] + '</option>'
                        $("#txt_area").append(opt);
                    }
                }
                else {
                    return alert("Select Zone ");
                }
            }
        })

    }

</script>

<div id="loading">
    <img id="loading-image" src="~/Img/bottleLoder.gif" alt="Loading..." />
</div>

<h3>Add New Employee</h3>

<div class="form-horizontal">
    <hr />
    <span id="msg"></span>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Full Name</label>
        </div>
        <div class="col-md-3">
            <input type="text" id="txt_fname" placeholder="Enter your Name" class="form-control ShapeFields" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>
                Gender
            </label>
        </div>
        <div class="col-md-3">
            <select id="dd_gender" class="form-control ShapeFields">
                <option value='0'>--- Select Gender ---</option>
                <option value='Male'>Male</option>
                <option value='Female'>Female</option>
                <option value='Other'>Other</option>
            </select>

        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label> DOB</label>
        </div>

        <div class="col-md-3">
            <input type="date" id="txt_dob" class="form-control ShapeFields" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label> Mobile No.</label>
        </div>

        <div class="col-md-3">
            <input type="text" id="txt_mobile" class="form-control ShapeFields" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Email ID </label>
        </div>

        <div class="col-md-3">
            <input type="text" id="txt_email" class="form-control ShapeFields" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label> Role </label>
        </div>
        <div class="col-md-3">
            <select id="dd_role" class="form-control ShapeFields">
                <option value='0'>--Select Role--</option>
                @{
                    foreach (var role in ViewBag.getrole)
                    {
                        <option value="@role.Id">@role.role</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Security</label>
        </div>

        <div class="col-md-3">
            <input type="text" id="txt_security" class="form-control ShapeFields" />
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2">
            <label> State</label>
        </div>
        <div class="col-md-3">
            <select name="cars" id="dd_state" class="form-control ShapeFields" onchange="bindzone()">
                <option value='0'>--- Select State ---</option>
                @{
                    foreach (var state in ViewBag.getstate)
                    {
                        <option value="@state.Id">@state.State</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Zone </label>
        </div>

        <div class="col-md-3">
            @* <input type="text" id="txt_area" class="form-control" />*@
            <select id="txt_zone" class="form-control ShapeFields" onchange="bindarea()">
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Area </label>
        </div>

        <div class="col-md-3">
            @*<input type="text" id="txt_area" class="form-control" />*@
            <select id="txt_area" class="form-control ShapeFields">
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Address</label>
        </div>

        <div class="col-md-3">
            <input type="text" id="txt_address" class="form-control ShapeFields" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            <label>User Name</label>
        </div>

        <div class="col-md-3">
            <input type="text" id="txt_userName" onchange="checkUserName()" class="form-control ShapeFields" />
        </div>
        <div class="col-md-3">
            <label id="lbl_userMSG"></label>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            <label>Password</label>
        </div>

        <div class="col-md-3">
            <input type="password" id="txt_password" class="form-control ShapeFields" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-lg-2">

            @{if (Convert.ToString(Session["Insert"]) == "true")
                {

                    @*<input type="submit" value="Submit" onclick="EmployeeSubmit()" class="btn btn-primary" /> &nbsp;&nbsp;*@
                    <a class="btn btn-primary ButtonShape" onclick="EmployeeSubmit()">
                        <i class="fa fa-save"></i> Submit
                    </a>
                }
            }
            @{
                if (Convert.ToString(Session["View"]) == "true")
                {
                    @*<input type="submit" value="Clear" onclick="location.reload();" class="btn btn-primary" />*@
                    <a class="btn btn-primary ButtonShape" onclick="location.reload();">
                        <i class="fa fa-refresh"></i> Clear
                    </a>
                }
            }
        </div>
    </div>
</div>
<div>
    @{
        if (Convert.ToString(Session["View"]) == "true")
        {
            @*<a href="~/Employee/Index"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a>*@
            @*<a href="~/Employee/Index" class="btn btn-info">Back</a>*@
            <a href="~/Employee/Index" class="btn btn-info ButtonShape">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        }
    }
</div>